@import "custom";
@import "~bootstrap/scss/bootstrap";


body {
    padding: 30px;
}

.chart-wrapper {
    min-height: 300px;
}

.chart-header {
    @extend .card-header;
    background: steelblue;
    padding: 0.1rem 1.25rem;
    color: white;
}

.chart {

}

.background.bar {
    fill: #ccc;
}

.foreground.bar {
    fill: steelblue;
}

.brush-handle {
    fill: #eee;
    stroke: #666;
}


