@import "custom";
@import "~bootstrap/scss/bootstrap";


body {
    padding: 30px;
}

.chart-wrapper {
    min-height: 300px;
}

.chart-header {
    @extend .card-header;
    background: lightgray;
    padding: 0.1rem 1.25rem;
    font-weight: 700;
}

.flight-list {
    //font-size 0.5rem;
}

.chart {

}

.background.bar {
    fill: #ccc;
}

.foreground.bar {
    fill: steelblue;
}

.brush-handle {
    fill: #eee;
    stroke: #666;
}


